nav {
    background:rgba(0,0,0,.9);
    padding:20px;
    display:flex;
    justify-content: space-between;
    color: #fff;
    position:relative;
    z-index: 99;
}
.menu-icon {
    display: none;
}

.fas {
    cursor: pointer;
}
.menu-icon .fa-times {
    transform: rotate(360dg);
    transition: all 0.2s ease-in-out;
}
.menu-icon .fa-bars {
    transform: rotate(180dg);
    transition: all 0.2s ease-in-out;
}

.logo {
    font-weight: 600;
    font-size: 25px;
    color: gold;
}

.logo font {
    color: #fff;
}

.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list li:hover > ul {
    display: block;
  }

.menu-list .portfolio-list li:hover {
    background-color: #fff;    
    transition: all 0.5s ease-in-out;
}  
.menu-list .portfolio-list li a:hover {
    color:rgba(0,0,0,.9);
}
.menu-list li a:hover {
    color: gold;
}
.menu-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 5px 10px;
    margin: 0 auto 0 20px;
}
.menu-list li a.active {
    background-color: #fff;
    color:rgba(0,0,0,.9);
    transition: all 0.5s ease-in-out;
}
/* Portfolio drop down list */

.app-header {
    padding: 20px;
  }
  
  .Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  } 
 
  .menu-list li {
    margin: 0 25px;
  }

  .menu-list li ul {
    display: none;
    list-style-type: none;
    position: absolute;
    padding: 10px;
    margin: 2px auto 0 auto;
    border-top: 1px solid gold;
    background-color: #181818;
  }
  
  .menu-list li:hover ul {
    display: block;
  }
  
    .menu-list li ul li {
        display:flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }
  
    .menu-list li ul li a {
        text-decoration: none;
        color: #fff;
        margin: 0 auto;
    }

/* **************************** */

@media screen and (max-width:800px){

    .logo {
        font-size: 20px;
    }
    .menu-list li a {
        font-size:14px;

    }
}

@media screen and (max-width:600px){
    .menu-icon {
        display: block;
    }
    .menu-list {
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        padding: 2px;
        right: 0;
        top:64px;
    }
    .menu-list li {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .menu-list li:last-child a {
        margin-bottom: 0px;
    }
    .menu-list li a, 
    .menu-list li:last-child a {
        width: 100px;
        display: block;
        margin: auto;
    }
    .menu-list.close {
        display: none;
        transition: all 0.5s ease-in-out;
    }
    
}