.App {
  text-align: center;
}
.coin_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

/* Layout CSS */
.layout {
  height: 100%;
  width: 100%;
}
.header {
  display:flex;
  justify-content: center;
}
.coin_logo {
  width: 50em;
  height: 40vmin;
  pointer-events: none;
  margin:0 auto;
}

/* coin dropdown*/
#inputCoin {
    max-width: 25.25em;
    width: 100%;
    margin-bottom: 25px;
}
.dropdown-coins {
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #000;
  transform: translate(-50%, 0);
  margin: -25px auto;
  width: auto;
  left: 50%;
  padding: 2px 0 2px 4px;
}
#coinDropdown option {
    margin: 0 auto;
    display: block;
    text-align: left;
    cursor: pointer;
}
span.addCoin {
  content: '+';
  float: right;
  display: block;
  width:10px;
  height: 10px;
  font-size: 14px;
  color: #000;
}
.card {
  position: relative;
}
.show { display: block; }

.mdc-react-select .Select-placeholder,
.mdc-react-select .Select-value {
  display: none;
}

.mdc-react-select .Select-control {
  background-color: transparent;
  border-color: none;
  border-radius: 0;
  border: none;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  box-shadow: none !important;
}

.mdc-react-select input {
  opacity: 1 !important;
  width: 100% !important;
}

/* Table CSS */
table.coinTable {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  width: 100%;
  height: 200px;
  text-align: left;
  border-collapse: collapse;
}
table.coinTable td, table.coinTable th {
  border: 1px solid #001E11;
  padding: 3px 2px;
}
table.coinTable tbody td {
  font-size: 14px;
  padding: 0 5px;
}
table.coinTable tr:nth-child(even) {
  background: #CCCCCC;
}
table.coinTable thead {
  background: #E5A030;
  background: -moz-linear-gradient(top, #ebb864 0%, #e7a944 66%, #E5A030 100%);
  background: -webkit-linear-gradient(top, #ebb864 0%, #e7a944 66%, #E5A030 100%);
  background: linear-gradient(to bottom, #ebb864 0%, #e7a944 66%, #E5A030 100%);
}
table.coinTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}
table.coinTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}
table.coinTable tfoot td {
  font-size: 14px;
}
table.coinTable tfoot .links {
  text-align: right;
}
table.coinTable tfoot .links a{
  display: inline-block;
  background: #211402;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}