* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:"Roboto", "sans-serif";
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.left {float: left;}
.right {float: right;}

.app-header {
    text-align: center;
}
.app-header.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-main {
  display: flex;
  flex-direction: column;
  float: left;
  width: 100%;
  margin: 0 auto;
}
.app-news {
  width: 30%;
  float: right;
}
.app-wrapper{
  display:flex;
  flex-direction: column;
  text-align: center;
}
.home-main 
{
  width: 70%;
}
.ui.container.app {
  padding: 0.5% 10px 0.5%;
  margin: 5px;
  text-align: left;
  height: 100%;
}
.content .header {
  width: 90%;
  float: left;
}
.portfolios-main
{
  width: 100%;
}
.portfolios { 
  background-color: rgb(200, 200, 200);
  padding:15px;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.portfolio-adding {
  width: 100%;
  padding: 0 40px;
}
.portfolio-list, .portfolio-add {
  flex-direction: row;
}
.portfolio-list .header {
  text-transform: uppercase;
}
.portfolio-add {
  margin:0 auto;
}
.portfolio-add button.btn-portfolio {
  padding: 10px 20px;
}
.portfolio-coins.centered.main {
  width: 100%;
}
.coindata {
  padding: 0 8px;
}
.search-container input {
  background-color: #f0f0f0;
}
.coin-add-ui select {
  border: 1px solid #f0f0f0;
}

.coin-analysis, .coin-portfolio {
  overflow-x: auto;
}
.coin-table-header {
  display: flex;
  background-color: lightgray;
  font-weight: bold;
}
.headerCell {
  width: 25%;
  padding: 10px;
}
.item {
  display: flex;
  padding: 10px;
}
.rowCell {
  width: 25%;
  float: left;
}
@media (max-width: 767px) {
  .headerCell,
  .rowCell {
    width: 100%;
    display: block;
  }
}
.portfolio-list i.icon {
  float: right;
}
.input-box {
  background-color: rgb(218, 227, 238);
  margin: 5px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  text-align: left;
}
input,select {
  border: none;
  padding: 2px;
}
button{
  border: none;
  margin-top: 6px;
  padding: 5px 0;
  clear: both;
  width: 100%;
}
.btn-portfolio {
  margin: 20px auto;
  max-width: 250px;
  text-align: center;
}
button:hover {
  background-color: coral;
}
.exchange-rate {
  background-color: rgb(221, 230, 221);
  padding: 15px;
  margin-top:10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
}
.news-feed {
  background-color: rgb(204,204,231);
  padding: 15px;
  margin: 5px 15px 0 auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  max-width: 300px;
  flex-direction: column;
  border-radius: 8px;
}
.news-feed div {
  padding: 2.5px 0;
}